@charset "UTF-8";
/* styles for admin */

.az_easel #note strong {
	color:#21759b;
}
.az_easel #warn strong, .az_easel #demo strong {
	color:#900;
}
.az_easel .sm{font-size:smaller;}
.az_easel .postbox .hndle{cursor:default;}
/* styles for results  */
.az_easel .item img.book {
	border:1px solid #ccc;
}
.az_easel .fl{
	float:left;
	margin:0 1em 1em 0;
}
.az_easel .item {
	clear:both;
	margin-bottom:1em;
}
.az_easel .item .byline {
	font-size:smaller;
}
.az_easel .prices {
	margin:.5em 0;
	color:#009
}
.az_easel .info {
	font-size:smaller;
}
.az_easel ul.prices {
	color:#330066;
	list-style-type:square;
	list-style-position:inside;
}
.az_easel #next {
	margin: 0;
	padding: 3px 2em;
}
.az_easel #prev {
	margin: 0;
	padding: 3px 2em;
}
.az_easel div#direct {
	margin:2em 0;
}
.az_easel div#direct a {
	padding:0.5em;
	background-color:#B1B4FD;
	border:2px solid #900;
	font-weight:bold;
}
.az_easel .pages{font-size:smaller; padding:1em 0;}
.az_easel .pages a.prev, .az_easel .pages a.next{
	color:white;
	text-decoration:none;
	background-color:#999;
	padding:4px 10px;
	width:100px;
	height:20px;
	font-weight:bold;
	}
.az_easel .pages a:hover.prev, .az_easel .pages a:hover.next{
	background-color:#666;
}
.az_easel .pages .prev {
	-moz-border-radius:20px 0 0 20px;
	-khtml-border-radius:20px 0 0 20px;
	-webkit-border-radius:20px 0 0 20px;
	border-radius:20px 0 0 20px;
}
.az_easel .pages .next {
	-moz-border-radius:0 20px 20px 0;
	-khtml-border-radius:0 20px 20px 0;
	-webkit-border-radius:0 20px 20px 0;
	border-radius:0 20px 20px 0;
}
.az_easel #content .item h4{margin:20px 0 0;}
